<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Меню</title>
    <link href="style.css" rel="stylesheet">
    <header th:insert="/fragments/header :: headerMain"></header>
<body>
<h1>Отдел кадров</h1>
<a href="/divisions/" class="btn btn-success">++Подразделения</a>
<a href="/employees/" class="btn btn-success">-Сотрудники</a>
<a href="/positions/" class="btn btn-success">++Должности</a>
<h1>Библиотечный фонд</h1>
<a href="/authors/" class="btn btn-success">++Авторы</a>
<a href="/books/" class="btn btn-success">-Книги</a>
<a href="/books_library/" class="btn btn-success">-Книги в библиотеке!</a>
<a href="/extradition_books/" class="btn btn-success">-Получение книг!</a>
<a href="/genres/" class="btn btn-success">++Жанры книг</a>
<a href="/library_cards/" class="btn btn-success">-Читательские билеты!</a>
<a href="/readers/" class="btn btn-success">++Читатели</a>
<a href="/sections/" class="btn btn-success">++Секции книг</a>
<h1>Пользователи</h1>
<a href="/admin/" class="btn btn-success">++АДМИНИСТРАТОР</a>
</body>
</html>