<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторы</title>
    <link href="style.css" rel="stylesheet">
    <header th:insert="/fragments/header :: headerMain"></header>
</head>
<body>
<h1>Список авторов</h1>
<a href="/authors/add/" class="btn btn-success">Добавить автора</a>
<div class="container">
    <table class="table">
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Действие</th>
        </tr>
        <tr th:each="el : ${authors_list}">
            <td th:text="${el.surname}"></td>
            <td th:text="${el.name}"></td>
            <td th:text="${el.middlename}"></td>
            <td>
                <a class="btn btn-primary" th:href="'/authors/detail/'+${el.UID}">Подробнее...</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>