<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение подразделения</title>
    <link href="style.css" rel="stylesheet">
    <header th:insert="/fragments/header :: headerMain"></header>
</head>
<body>
<div class="container">
    <h1>Редактирование подразделения</h1>
    <form method="post" th:object="${divisions}">
        <label>Название</label>
        <input class="form-control" type="text" th:field="*{name}"  name="name">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></div>
        <label>Адрес</label>
        <input t class="form-control" type="text" th:field="*{address}"  name="address">
        <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color: red"></div>
        <input class="btn btn-success" type="submit" value="Редактировать данные подразделения">
    </form>
</div>
</body>
</html>