a:link, a:visited, a:focus,a:active, a:hover.btn-success #bodyy {
    background: #62529c;
}

input[type=button],
input[type=submit] {
    background-color: #62529c;
    border: none;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=button]{
    background-color: #62529c;
    border: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
label {
    font-size: 20px;
    font-weight: 700;
    color: #62529c;
    align-content: center;
    alignment: center;
}
div.container #headerr{
    background: #c796ff;
}
/**{*/
/*    background-color: #c796ff;*/
/*}*/