<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title>Авторизация пользователя</title>
  <link rel="stylesheet" th:href="@{/css/authstyle.css}" type="text/css"  />
</head>
<body>
<div class="form_auth_block">
  <div class="form_auth_block_content">
    <p class="form_auth_block_head_text">Авторизация</p>
    <div th:if="${param.error}">Неправильный пароль или логин</div>
    <div th:if="${param.logout}">Вы вышли из системы.</div>
    <form class="form_auth_style" th:action="@{/login}" method="post">
      <label>Введите логин</label>
      <input type="text" name="username" placeholder="Введите логин" required >
      <label>Введите Ваш пароль</label>
      <input type="password" name="password" placeholder="Введите пароль" required >
      <button class="form_auth_button" type="submit" name="form_auth_submit">Войти</button>
    </form>
    <a href="/registration">Регистрация</a>
  </div>
</div>
</body>
</html>
