<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Регистрация пользователя</title>
  <link rel="stylesheet" th:href="@{/css/authstyle.css}" type="text/css"  />
</head>
<body>
<div class="form_auth_block">
  <div class="form_auth_block_content">
    <p class="form_auth_block_head_text">Авторизация</p>
    <div th:if="${message}">Пользователь уже существует</div>
    <p th:text="${message}"></p>
    <form class="form_auth_style" th:action="@{/registration}" method="post">
      <label>Введите логин</label>
      <input type="text" name="username" placeholder="Введите логин" required >
      <label>Введите Ваш пароль</label>
      <input type="password" name="password" placeholder="Введите пароль" required >
      <button class="form_auth_button" type="submit" name="form_auth_submit">Зарегистрироваться</button>
    </form>
    <a href="/login">Авторизация</a>
  </div>
</div>
</body>
</html>
