<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление выдачи книг</title>
</head>
<body>
<header th:insert="/fragments/header :: headerMain"></header>
<form method="post">
    <input type="text" name="dateextradition" placeholder="Дата получения">
    <input type="text" name="datereturn" placeholder="Дата возвращения">
    <select  name="books_uid">
        <div th:each="element : ${books}">
            <option th:text="${element.UID}"></option>
        </div>
    </select>
    <select  name="library_cards_uid">
        <div th:each="element : ${library_cards}">
            <option th:text="${element.UID}"></option>
        </div>
    </select>
    <select name="employees_uid">
        <div th:each="element : ${employees}">
            <option th:text="${element.UID}"></option>
        </div>
    </select>
    <br>
    <button type="submit">Добавить</button>
</form>

</body>
</html>