<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение секции</title>
    <link href="style.css" rel="stylesheet">
    <header th:insert="/fragments/header :: headerMain"></header>
</head>
<body>
<div class="container">
    <h1>Редактирование секции</h1>
    <form method="post" th:object="${one_section}">
        <label>Название</label>
        <input class="form-control" type="text" th:field="*{name}"  name="name">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></div>


        <input class="btn btn-success" type="submit" value="Редактировать данные">
    </form>
</div>
</body>
</html>