<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Добавление читательского билета</title>
  <meta charset="UTF-8">
  <link href="style.css" rel="stylesheet">
  <header th:insert="/fragments/header :: headerMain"></header>
</head>

<body>
<form th:action="${'/library_cards/add'}" method="post" th:object="${libraryCards}">
  <input class="form-control" type="text" th:field="*{date_open}" name="date_open" placeholder="Дата открытия">
  <div th:if="${#fields.hasErrors('date_open')}" th:errors="*{date_open}" style="color: red"></div>
  <input class="form-control" type="text" th:field="*{date_close}" name="date_close" placeholder="Дата закрытия">
  <div th:if="${#fields.hasErrors('date_close')}" th:errors="*{date_close}" style="color: red"></div>
  <select  name="readers_uid">
    <div th:each="element : ${readers}">
      <option th:value="${element.UID}" th:text="${element.surname}+' '+${element.name}+' '+${element.middlename}"></option>
    </div>
  </select>
  <br>
  <button type="submit">Добавить билет</button>
</form>
</body>
</html>